.nav > li {
  display: inline-block;
  font-family: "Lucida Sans Unicode", "Lucida Grande", serif;
}

.current {
  color: black;
  background-color: yellow;
}

.nav-top {
  font-size: 24px;
}

.nav-bottom {
  font-size: 18px;
}